<p id="notice"><%= notice %></p>

<h2> <%= @article.title %> </h2>

<p>By <%= @article.author %>. <%= @article.edits %> edits since <%= @article.created_at.to_s(:created_day) %></p>

<%= simple_format(@article.body) %>

<br />

<%= link_to 'Edit', edit_article_path(@article), :title => 'Edit Article' %> |
<%= link_to 'Back', articles_path, :title => 'Back to list of Articles' %>
