%h1 Listing authors

#table-wrapper
  %table#authors
    %thead
      %th Name
      %th Articles
    %tbody
      - unless @authors.empty?
        - @authors.each do |a|
          %tr
            %td= h a.name
            %td= h a.articles.count
            %td
              = link_to 'Show', show_author_path
              = link_to 'Edit', edit_author_path(a)
              = link_to 'Destroy', a, confirm: 'Are you sure?', method: :delete, :title => 'Delete this author'

= link_to 'New Author', new_author_path
