<h1>Articl.es</h1>
<p>...with a name .com hipsters love!</p>

<h2>All the World's Articles</h2>

<%= link_to 'New Article', new_article_path, :title => 'Create a New Article!' %>

<div class="articleList">

<% if @articles.count > 0 %>
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Body</th>
	<th>Creation Date</th>
  </tr>
<% @articles.each do |article| %>
  <tr class="<%= cycle("even","odd") %>">
    <td><%= article.title %></td>
	<td><%= article.author %></td>
	<td><%= article.body.truncate(40) %></td>
	<td><%= article.created_at.to_s(:created_date) %></td>
	
    <td><%= link_to 'Show', article, :title => 'Show this article' %></td>
    <td><%= link_to 'Edit', edit_article_path(article), :title => 'Edit this article' %></td>
    <td><%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete, :title => 'Delete this article' %></td>
  </tr>
<% end %>
</table>
</div>

<%= pluralize(@articles.count, 'article') %>
<% else %>
<p>Be the first to write an article!</p>
<% end %>
<br />
