%li
  = f.label :title
  = f.text_field :title, :size => 64
%li
  = f.label :author_id
  = f.collection_select :author_id, Author.all, :id, :name, :prompt => "Select an Author"
  Or Create New Author
  %br
  = f.label '%nbsp;'
  = f.text_field :new_author_name
%li
  = f.label :body
  = f.text_area :body, :cols => 64, :rows => 25