%h1
  Articl.es
%p
  ...with a name .com hipsters love!

%h3
  All the World's Articles

%p
  = link_to 'New Article', new_article_path, :title => 'Create a New Article!'

.pagination
  = will_paginate @articles
  
#table-wrapper
  %table#articles
    %thead
      %th Title
      %th Author
      %th Body
      %th Creation Date
      %th
    %tbody
      - unless @articles.empty?
        = render @articles
      - else
        %tr
          %td{:colspan => "5"} There are no articles, be the first to write one!

%span#article_count
  = pluralize(@articles.count, 'article')
  
.pagination
  = will_paginate @articles