%h1
  Articl.es
%p
  \...not just for the country of Spain

%p
  = link_to 'Back', articles_path, :title => 'Back to list of Articles'

%h2
  New article

- form_for(@article) do |f|
  = @article.errors.full_messages
  - field_set_tag nil, :id => 'scaffold' do
    = @article.errors.full_messages
    %ol
      = render :partial => "form", :locals => {:f => f}
      %li
        = f.label :submit, '&nbsp;'
        = f.submit 'Create Article'